{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% include "partials/nav.html" %}

{% block content %}
<header>
    <div class="container">
        <div class="row justify-content-center p-5">
            <div class="col-12 col-lg-6">
                <div class="card text-left rounded-5 bg-dark text-white">
                    <div class="card-body ">
                        <h4 class="card-title">Welcome</h4>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ad
                            voluptatem tempore quod amet quae veritatis similique. Hic ipsum sunt repudiandae nisi
                            distinctio aspernatur, ut, natus sapiente consequatur quis eius!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}